
bin/
obj/
Logs/

.idea

AsunaUnityDemo/Library
AsunaUnityDemo/Logs
AsunaUnityDemo/Temp
AsunaUnityDemo/UserSettings
AsunaUnityDemo/*.sln
AsunaUnityDemo/*.csproj

AsunaEngine/AsunaEngine/.vs
AsunaEngine/AsunaEngine/x64
AsunaEngine/AsunaEngine/out

AsunaEngine/AsunaEngine/AsunaEngine/x64